@charset "utf-8";
/*重新浏览器默认标签样式文件*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/**, *:before, *:after {*/
    /*box-sizing: border-box;*/
/*}*/
body {
    font: 0.6rem/1 \5FAE\8F6F\96C5\9ED1, tahoma, arial, \5B8B\4F53, "microsoft yahei","simsun",arial,sans-serif; /* Microsoft YaHei, SimSun */
    color: #4a4a4a;
}
body,html{
    margin: 0 auto;
    height: 100%;
}
address, cite, dfn, em, var {
    font-style: normal;
}
ul, ol, li {
    list-style: none;
}
img {
    border: none;
    vertical-align: middle;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
a {
    text-decoration: none;
    color: #333;
    background-color: transparent
}
a:active,a:hover {
    outline: 0
}
/*清除默认样式*/
input, textarea, select {
    /*去掉输入框浏览器默认样式*/
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
}
select{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
input:focus, textarea:focus {
    outline: none;
}
/* 防止IE10以上浏览器的输入框会自带 X 按钮 */
input::-ms-clear {
    display: none;
}