.logo-line-before,
.logo-line-after {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 75%;
}
@media (max-width: 767px) {
  .logo-line-before,
  .logo-line-after {
    display: none;
  }
}
.logo-line-before i,
.logo-line-after i {
  position: relative;
  display: block;
  height: 2px;
  background: #222;
}
@media (max-width: 767px) {
  .logo-line-before i,
  .logo-line-after i {
    height: 3px;
  }
}
.use-motion .logo-line-before i {
  left: -100%;
}
.site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 20px;
  font-weight: normal;
}
/*.site-title {
  opacity: 0;
  position: relative;
  top: -10px;
}*/
.site-title {
  font-size: 22px;
  font-weight: bolder;
}
@media (max-width: 767px) {
  .site-title {
    line-height: 34px;
  }
}

footer{
	width: 100%;
	height: 76px;
	background: #f5f5f5;
}

